extends layout

block content
  h1 Express Heroku API
  p Welcome to Express
  a(href="/") ir a TDC
  a(href="./cheques") ir a cheques
  a(href="./operations") ir a operations
  h2 PosicionGlobal (dashboard)
  ul
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==TT") dashboard TT
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==TT
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==SI,idContract==SIMXP0000001") dashboard SI (Fondos de Inversión)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==SI,idContract==SIMXP0000001
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==IN,idContract==INMXP0000001,currency==MXP") dashboard IN (Inversión a Plazo)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard?$filter=productType==IN,idContract==INMXP0000001,currency==MXP
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/tsec") getTsec (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/tsec
    li
      a(href="https://cards-service-mock.herokuapp.com/operations/V00/getPDFDocuments") getPDFDocuments(POST)
      span https://cards-service-mock.herokuapp.com/operations/V00/getPDFDocuments
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/campaigns") campaigns
      span https://cards-service-mock.herokuapp.com/dashboard/V00/campaigns
      p tsec: 123456 devuelve varias campa&ntilde;as
      p tsec: 654321 devuelve solo una campa&ntilde;a
      p tsec: 123654 devuelve error
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/userInfo") UserInfo
      span https://cards-service-mock.herokuapp.com/dashboard/V00/userInfo
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/systemDate") systemDate
      span https://cards-service-mock.herokuapp.com/dashboard/V00/systemDate
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/logs") logs (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/logs
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp?otp=12345678") validateOtp
      span https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp?otp=12345678
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp") validateOtp (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/validateOtp
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/banners") banners (campañas informativas)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/banners
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/dropDownMenu?typeProduct&page=posicionGlobal") dropDownMenu (menu quiero)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/dropDownMenu?typeProduct&page=posicionGlobal
      p https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/dropDownMenu?typeProduct=pesos&page
      p https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/dropDownMenu?typeProduct&page
      p https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/dropDownMenu?typeProduct=pesos&page=pg
    li
      a(href="https://cards-service-mock.herokuapp.com/security/V00/getQR") getQR (POST)
      span https://cards-service-mock.herokuapp.com/security/V00/getQR
    li
      a(href="https://cards-service-mock.herokuapp.com/operations/V00/agileOperations?agileOperationType=ALL") agileOperations - List
      span https://cards-service-mock.herokuapp.com/operations/V00/agileOperations?agileOperationType=ALL
      p agileOperationType=ALL devuelve r&aacute;pidas y peri&oacute;dicas
      p agileOperationType=FAST devuelve solo r&aacute;pidas
      p agileOperationType=RECURRING&weekId=&date= devuelve solo peri&oacute;dicas
    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/mobileTransfers?amount=300&concept=concept&idAccount=AHMXP0000002") MobileTransfers (POST)
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/mobileTransfers
      p Body:
      p {
      p "amount": 300.00,
      p "concept": "concepto prueba",
      p "idAccount": "AHMXP0000002"
      p }

    li
      a(href="https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/headlinesAccounts") Cuentas titulares
      span https://cards-service-mock.herokuapp.com/dashboard/V00/dashboard/headlinesAccounts
    li
      a(href="https://cards-service-mock.herokuapp.com/operations/V00/suggestedOperations?suggestedOperationType=ALL") ActionalAdvice - List (GET)
      span https://cards-service-mock.herokuapp.com/operations/V00/actionalAdvice
    li
      a(href="https://cards-service-mock.herokuapp.com/operations/V00/suggestedOperations?suggestedOperationType=ALL") suggestedOperations - List (GET)
      span https://cards-service-mock.herokuapp.com/operations/V00/suggestedOperations?suggestedOperationType=ALL
      p suggestedOperationType=ALL devuelve todos los tipos de operaciones sugeridas
      p suggestedOperationType=TT devuelve traspasos tipo cuentas terceros
      p suggestedOperationType=TP devuelve traspasos tipo cuentas propias
      p suggestedOperationType=TI devuelve traspasos tipo  interbancarios
      p suggestedOperationType=TCI devuelve pagos de TDC Interbancaria
      p suggestedOperationType=TCP devuelve pagos de  tarjeta de credito propia
      p suggestedOperationType=PDS devuelve pagos de servicios